:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-grey-300: #c5c6ce;
  --clr-grey-200: #d8d8d8;
  --clr-navy-950: #00001a;
  --clr-navy-600: #5e607a;
  --clr-gold-400: #e9aa52;
  --clr-red-500: #f15d51;

  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;

  --spc-100: 0.5rem;
  --spc-200: 1rem;
  --spc-300: 1.5rem;
  --spc-350: 1.75rem;
  --spc-400: 2rem;
  --spc-500: 2.5rem;
  --spc-800: 4rem;
  --spc-1100: 5.5rem;

  --transition: 0.15s ease-out;

  font-family: "Inter", sans-serif;
  font-size: 16px;
}
